#Settings configured in pillar will override default settings specified in map.jinja
emet:
  lookup:
    emet_version: '5.1'
    emet_admx_source: 'salt://emet/emetfiles/EMET.admx'
    emet_adml_source: 'salt://emet/emetfiles/EMET.adml'
