# Initialize 'emet' dictionary with default settings for the EMET formula
{% set emet = { 
    'version'     : '5.1',
    'admx_source' : 'salt://emet/emetfiles/EMET.admx',
    'adml_source' : 'salt://emet/emetfiles/EMET.adml',
} %}

# Define lookup dictionary of EMET version dependencies
{% set dependencies = { 
    '5.1' : { 'min_dotnet_version' : 4,
            },
} %}

# Over-ride defaults with user-defined settings from pillar (if available)
{% do emet.update(salt['pillar.get']('emet:lookup', {})) %}

# Add version dependencies to the emet dictionary
{% do emet.update(dependencies[emet['version']]) %}

#Get the SYSTEMROOT value from the registry
{% set systemroot = salt['reg.read_key']('HKEY_LOCAL_MACHINE', 'SOFTWARE\Microsoft\Windows NT\CurrentVersion', 'SystemRoot') %}

# Update emet settings with required filename locations
{% do emet.update({ 
    'admx_name'          : systemroot + '\\PolicyDefinitions\\EMET.admx',
    'adml_name'          : systemroot + '\\PolicyDefinitions\\en-US\\EMET.adml',
}) %}
